body{
	padding-top:50px;
}
.welcome{
	width: 50%;
	height: 30%;
	background-color: hsla(0,0,1%,0.4); 
}
.sda{
	margin-top: 10px;
}
.feature{
	padding: 30px 0;
}
.feature-heading{
	font-size: 50px;
	margin-top: 120px;
	color: #2a6496;
}
hr{
	margin: 30px 0;
}
footer{
	margin:40px 70px;
}
a:hover{
	color: #286090;
}
.glyphicon{
	padding-right: 4px;
}
ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}
.common {
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	color: #4d4d4d;
}

/*.table {*/
/*	width: 100%;*/
/*	font-size: 14px;*/
/*	line-height: 14px;*/
/*	border-collapse: collapse;*/
/*}*/
/*.table thead{*/
/*	background:#00346d;*/
/*	color: #f6f6f6;*/
/*	font-weight:bold;*/
/*}*/
/*tbody tr:hover{*/
/*	background:#f6f6f6;*/
/*	color:#00346d;*/
/*}*/
/*tbody tr:nth-child(even) {*/
/*	background: #f0f2f6;*/
/*}*/